<div class="center">
  <%= image_tag("culture.jpg") =%>
</div>
<h1>Kultuur</h1>

<p>
Skandinaavialased on väga lärmakas, uhke, jäärapäine ja religioosne rahvas. Nad austavad jõudu, ausust ning endast targemaid. Nad põlastavad pettureid, nõrku ning reetureid.
</p>

<p>
Oma päevi veedavad nad tööd tehes ning treenides, pidevalt harjutades võitlemist. Õhtuid veedavad nad pidutsedes ja juues. Kui Skandinaavialastel omavahel tüli tekib, siis tihti lahendatakse küsimus jõudu kasutades. Rikkamatel viikingitel on oma talu ja maa. Vaesemad töötavad tihti sõdurite, valvuritena, sulastena või pühakodades. Suuremates auküsimustes kutsutakse üksteist välja duellile, mis tihti lõppeb ühe poole surmaga. Enamuse lihttöid teevad nende eest ära ohtrates kogustes orjad, mis on toodud idast. Kehtivad eri seadused Skandinaavialastele ning orjadele - orjadel põhimõtteliselt puuduvad igasugused õigused. Nende isand võib teha nendega mis iganes talle meeldib. Kuid see ei tähenda, et orje koheldaks väga halvasti. Aeg-ajalt mõni isand vabastab mõne orja, kuid endine ori töötab tihtipeale sama isanda juures vabatahtlikult edasi, lihtsalt ausa tasu eest.
</p>

<div class="center">
  <%= image_tag("woman_warrior.jpg") =%>
</div>

<p>
Skandinaavia rahvas on üks vähestest rahvastest maailmas, kus mehed ja naised on võrdsed. Skandinaavia naised võivad olla täpselt samamoodi Jarlid või valitsejad, ning tihtipeale ongi, ning keegi ei vaata sellele halvasti. Peredes on mehed ja naised võrdsel kohal. Naised harjutavad samamoodi võitluskunsti, nagu mehed ning peresisesed tülid lahendatakse täpselt samamoodi kakeldes, küll aga lõppevad need kaklused harvem teine-teise surmaga. Naisi võetakse ka reidimistele kaasa. Tõsi ta on - tihti on viikingid näinud vaenlasi hirmust tardumas, kui nad näevad nende poole jooksmas nais sõdurit. Kõige hirmuäratavamad on vaenlastele Valküürid - surmatoojad. Nende nägemise peale jookseb tihtilugu vastaspoole vägi koheselt igas suunas laiali.
</p>

<div class="center">
  <%= image_tag("valkyre.jpg") =%>
</div>

<p>
Kõige rohkem hirmutab vaenlasi viikingite juures tõsiasi, et nad ei karda surma. Viikingid taganevad, kui nad näevad, et lahingul ei ole mõtet, kuid nende silmis ei näe kunagi hirmu. Kõik viikingid tahavad surra lahingus. See on tee ja värav valhallasse - Skandinaavia jumalate taevasse. Need, kes surevad vanadusse, need ei saa valhalasse. Tihtipeale paluvad vanad mehed põlvili Jarlilt, et ta võtaks ta reidile kaasa, lihtsalt selleks, et tal oleks ka võimalus lahingus surra.
</p>

<p>
Viikingid on külmaverelised tapjad, kes ei näe midagi valesti selles, et nad teise tapavad. Kui vaenlane langetab relva paanikas, siis viiking võtab seda nõrkuse märgina, põlastab seda ja üldjuhul tapab ta kohapeal. Mõni õnnelik võetakse ka vangi ja eluaegseks orjaks.
</p>

<div class="center">
  <%= image_tag("old_man.jpg") =%>
</div>
