<div class="center">
  <%= image_tag("game_rules.jpg") =%>
</div>

<h1>Game rules</h1>

<p>
Game system 5e, any aligment, any race, any class, level 1<br/>
Starting equipment background and class only. No gold buy<br/>
Background can be custom, but must be discussed with DM first<br/>
<br/>
Point buy 27, max stat 15, standard. Special flavor traits apply for low ability score:

<ul>
<li>Str 8 - weak beyond measure - A wimp</li>
<li>Dex 8 - walking disaster - clumsy as fuck</li>
<li>Con 8 - frail body - catches every bad thing there is</li>
<li>Int 8 - dimwit - stupid, stupid, stupid</li>
<li>Wis 8 - reckless - doesnt think stuff through</li>
<li>Cha 8 - ugly - Ugly</li>
</ul>
<br/>

Traits for flaw - You can think of 1 trait and 1 flaw besides background stuff. They must be discussed with DM first. The flaw must be a relevant flaw and the stronger the trait, the stronger the flaw. <br/>
Trait - Blind monk - No usual penalties while fighting againt invisible creature.<br/>
Flaw - Blind - well im blind.<br/>
<br/>

PVP is OK if it is for reasonable RP reasons(Cleric of pure good sees his party member is raising zombies/a party member is constantly fucking with others and completely undermining party effors. In addition, he refuses to leave the party). Bullshit RP reasons are not ok(He took the best loot item, my character would obviously kill him and take it to himself/My character hates elves, so i attack him the moment i see him).
<br/><br/>

Lucky feat does not give disadvantage super advantage. (what was wotc thinking)<br/>

Drinking a potion or applying poison is an interaction<br/>

Drwaing 2 weapons is an interaction, if you have 2 free hands<br/>

Switching weapons is a bonus action<br/>

Dropping a shield is interaction. Strapping a shield is an action. Putting shield on the back is an action.<br/>

Inspiration does not carry over to the next game<br/>

Resurrection spell components with cost are 10x more expensive<br/>

Long rest is inteerupted if combat happens which causes more than 60% of party to lose more than 10% max hp each or single member to lose more than 60% max hp<br/>

Great weapon master and sharpshooter lose -5/+10 and gain +1 str/dex respectively.<br/>

<br/>
DISARM <br/>
A creature can use a weapon attack to knock a weapon or another item from a target's grasp. The attacker makes an attack roll contested by the target's Strength (Athletics) check or Dexterity (Acrobatics) check. If the attacker wins the contest, the attack causes no damage or other ill effect, but the defender drops the item. The attacker can choose a location in 15 foot radius where the item drops.<br/>
The attacker has disadvantage on its attack roll if the target is holding the item with two or more hands or if he doesnt have a weapon of his own(unless he has Martial arts or unarmed feat).<br/>
The target has advantage on its ability check if it is larger than the attacking creature, or disadvantage if it is smaller.<br/>
<br/>
TAKE WEAPON OR ITEM<br/>
A creature can use a weapon attack to take a weapon or another item from a target's grasp. The attacker makes an attack roll contested by the target's Strength (Athletics) check or Dexterity (Acrobatics) check. The attacker has disadvantage on its attack roll and needs a free hand to take the item. If the attacker wins the contest, the attack causes no damage or other ill effect, but takes away the item of defender.<br/>
The target has advantage on its ability check if it is larger than the attacking creature, or disadvantage if it is smaller.<br/>
</p>
<p>
<h2>Background info:</h2>
You start in a city-state called Nurdhun. It is a very religious big coastal city with a population of over 20000 and roads comming from 3 sides. Nurdhun is a properous city where most of the people follow Kjellism. It has the most powerful army in the region and in times of war can wield more than 2000 troops.
</p>
<p>
However, complex times have befallen upon Nurhun. The desert wars in the north of the Nurdhun have forced thousands of refugees to take refugee in Nurdhun. While Nurdhun does its best to accept and help the refugees, due to its well-known and generous major Frank, a lot of religious issues have risen. In the northen deserts, the people follow the god Madite. Madites and Kjellismes have never gotten along well. Hate crimes, kidnappings, robbing and even murders are abound. The major Frank does his best to calm the situation, with his religios advisor Joosep known for breaching the excommunication of refugees and his military advisor Mike known to ignore any hate crimes that happen against Madites, his hands are pretty tied. To make matters worse, a neighbouring city-state, the Gruthan has vowed to declear war, should the Madites ever be seriously threatened in the city of Nurdhun.
</p>
<p>
The players are citizens of Nurdhun. The need to think for at least 1 very strong emotional bond inside the city and they have spent inside the city a minimum of 1 year, if not more(maybe even entire life?). By now, the players are citizens of Nurdhun, one way or another. If the player is not a follower of Kjellism, then he needs to think of a way he fooled the officials to believe that he was one. The players need to think how did they make their living there and why did they spend so much time in there.
</p>
<p>
The city of Nurdhun, highly religious as it is, hold a ritual every year. The day of the ritual is coming, where all the people of Nurdhun will gather around the main square in the town. Each and every citizen appears to the ritual with a mask. Then a small cookie is given to each of them. The gods choose who gets what kind of cookie, but everybody goes home and when they open the cookie, they see if they are the chosen ones by Kjell himself. If they are, they will know how to meet the other chosen ones and are bound to be the protectors of the Nurdhun, called Nurdhans. Their identities remain secret from the other people of the realm. It is their duty, to ensure the Nurdhun prospers and is a just city. When they go public while wearing their masks, then everybody will know that they are dealing with the protector of Nurdhun and nobody has the authority to ask them to remove it. Nurdhans take great pride in their masks and usually make sure that they are elaborate and decorative, but they only wear them when they want their identities to remain secret.
</p>
