<div class="center">
  <%= image_tag("seer.jpg") =%>
</div>
<h1>Wold and Religion</h1>

<p>
The Selvarin is an ancient world, having suffered numerous wars that have been so devastating that all life was almost extinguised multiple times.
</p>

<p>
Religion is held in very high regard in Selvarin. Rarely are there any people who dont believe in god and with good reason - they undoubtedly exist. After the great war between gods, devils, dragons, demons, giants, monsters and men, called Ragnarok, most of the gods were dead. From the ashes of ancient civilization, a few gods raised to rebuild this broken and forsaken world.
</p>

<p>
<h2>Kjell</h2>
Kjell was once a normal human, raised to godhood in Ragnarok. His morals are simple and reasonable. They can be summarised with "Dont fuck with each other but dont let anybody fuck you either"(You can still have sex and lots of it). Men and women are equal in Kjells eyes and so are they in the regions that follow Kjell. Large regions in Selvarin follow Kjell.
</p>

<p>
<h2>Madite</h2>
Madite is an ancient god of Selvarin who was, for all intents and purposes, overthrown by Kjell. The Madites often hate the Kjellismes and the opposite is also true. The Madite is a very strict god and has become more and more draconian as the time has moved forward. In the large areas where Madite is the main god, its often illegal to follow other gods, or at least hard. The Madite law is dominant in there. In Madite law the women are often subjucated and need to wear heavy clothing to cover themselves up and masks called Mads that cover their face. The men need to shave every inch of hair they have on their body, heavy clothings and follow rigorous religios ceremonies multiple times a day.
</p>

<p>
<h2>Zedon</h2>
Zedon is a late god that started reaching godhood quite recently. The people of Zedon are the most peaceful and liberal of the three gods. They got tired of the constant hate between Kjellisms and Madites and believe everybody in the world are equal. They see the life as being a constant suffering and by being good and kind to others you reach absolution. Zedons are often harrased by the followers of other religion, as the others see them as pussyes.
</p>
