<div class="center">
  <%= image_tag("crew.jpg") =%>
</div>

<h1>Contributing</h1>
<p>

<a href="https://bitbucket.org/stenver/forgotten_horrors">The Repository is here</a>
<br/>
<a href="https://bitbucket.org/stenver/forgotten_horrors/src/fa711aaa39041fe9c75b943fa24541aa449e3bdb/app/views/static_pages/home.html.erb?at=master&fileviewer=file-view-default"> The most important file is home.html.erb</a>

<br/>
<a href="https://bitbucket.org/stenver/forgotten_horrors/src/fa711aaa39041fe9c75b943fa24541aa449e3bdb/app/assets/images/?at=master">The images are here</a>

<br/>
To install:<br/>
<code>
  git pull<br/>
  cd forgotten_horrors<br/>
  bundle<br/>
  rails s<br/>
</code>
It should not run on <a href="http://localhost:3000/">localhost:3000</a>

</p>

<p>
Loot <a href="https://docs.google.com/spreadsheets/d/10ftFez0HpTSuZOMQqD-olR6J3vzM1EApSdYWNAgMNkM/edit#gid=78922621">HERE</a>
</p>

<div class="center">
  <%= image_tag("books_read.jpg") =%>
</div>

<h2>Tower of Heroes Guild</h2>
<p>
Top of the tower treasure: 21697 gold<br/>

A treasure room, holding 1 321 213 gold coins.<br/>

<h3>Crew:</h3> <br/>
Vola nola - pea arch mage<br/>
Gillmore Petyra - pea alkeemik<br/>
Ragnar - Pea kaitsja<br/>
Kuldotha - Pea smith<br/>
Rog - pea kaevur, br<br/>
Daleek - Bolgi ihukatsja, külaline<br/>
<br/>
<h3>SECRET ROOMS DISCVERED</h3>
Ground floor - Massiivne portaal millest saavad terved armeed läbi liikuda.<br/>
Raamatukogu library secret room - Lugemistuba 6 kohaga, kus advantage lugemisel ja bürokraatlikud raamatud.<br/>
Top of the tower - Zigurathi kristall olemas<br/>
Armory secret room - Kahjuks tühjaks kammitud.<br/>
Storage secret room - Another storage area, holding 4 teleportation portal crystals. These can be used to create additional portals(1 for small, 2 for medium, 4 for army).<br/>
Master office secret room - comfortable area with potion of speed, involunerability, 3x greater healing, 2x superior healing, 1x best healing.<br/>
Smithy secret room - Comfortable leisure area, has bracers, giving advantage for creating items.<br/>
Jail secret room - A magical jail with 3 of antimagic cells.<br/>
Control room - Holding 5 magical holding tubes, 3 broken, 2 working. Takes 2 to protect against scrying and 3 to protect against teleportation. Fuel rods - Dragon hearths<br/>
Treasure room - Holding massive amount of gold and full of anti-magic.<br/>
A huge room holding an airship, able to take to the skies. Needs a crew of 15 to operate. and 15 cannons on the side<br/>
</p>

<div class="center">
  <%= image_tag("airship.jpg") =%>
</div>

<h2>Crew</h2>
<p>
  <ul>
    <li>Lao'er - An old man who studies the long forgotten dead. Assigned to the GILFs party as nobody in the world knows as much about the dead as he does</li>
    <li>Erevan - an elven man of nature, that can turn himself into terrible beasts.</li>
    <li>Adindin - A stupid and reckless drow who looks weak as well. Blessed with with dragonic magic, however, showing hidden potential.</li>
    <li>Granny - An old dwarven lady who offers tea and cookies to everybody and whacks all the rude people with his rolling bin.</li>
    <li>Eero - A halfling with many faces and identities. Its hard to even know if Eero is his true name.</li>
    <li><strike>Sha-Il - A half elf warlock who is not afraid to kick someone in the face, should the worst happen. Sould sucked out by a banshee when running from the undead horde.</strike></li>
    <li><strike>Lia - An elven woman a faith, abondened by the GILFs and MIA on the dwarven smugglers island. Found by GILFs later in prison and freed by them. Killed by Franks skeletal horde when Frank revealed his true nature</strike></li>
    <li><strike>Meh - A human monk, dedicating his life for the good and kicking the nuts. Killed by the Dwarven captain on the heroes guild island.</strike></li>
    <li><strike>Geth - A naked guy with a greataxe who sees strange visions. Killed by black dragon on the heroes guild island.</strike></li>
    <li><strike>Some guy - we will never know what happened to him in the tower</strike></li>
  </ul>
</p>
